body {
	background-color:#10CCE6;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.punch-out {
	text-align: center;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	color: black;
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.7);
 }
 
 .punch-out h1 {
	font-size: 2em;
	font-family: 'Lobster', cursive;
 }
 
 .punch-out p {
	font-size: 2em;
	font-family: 'Special Elite', cursive;
  }

#container {
	display: inline;
	margin: 0 auto;
	width: 700px;
}

.domino {
	float: left;
	font-size: 15px;
	width: 6em;
	height: 12em;
	margin: 40px;
	position: relative;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em;
	border-radius: .8em;
	-moz-box-shadow:    .3em .3em 0em .2em #333;
	-webkit-box-shadow: .3em .3em 0em .2em #333;
	box-shadow:         .3em .3em 0em .2em #333;
 }

.domino, .domino span { 
	background-color:#000
}

.domino .line {
	width: 5.5em;
	height: .2em;
	position: absolute;
	top: 5.7em;
	left: .25em;
	background-color: #fff;
}
 
 .pip-base {
	width: 1.2em;
	height: 1.2em;
	position: absolute;
	-webkit-border-radius: 4em;
	-moz-border-radius: 4em;
	border-radius: 4em;
	background-color: #fff;
 }
 
  .domino .TL6 {
	top: 2.4em;
	left: 1.0em;
 }
 
   .domino .TL23456 {
	top: 4.0em;
	left: 1.0em;
 }
 
 .domino .TL456 {
	top: 0.8em;
	left: 1.0em;
 }

  .domino .TC135 {
	top: 2.4em;
	left: 2.5em;
 }

  .domino .TR6 {
	top: 2.4em;
	left: 4.0em;
}
 
   .domino .TR456 {
	top: 4.0em;
	left: 4.0em;
 }
 
   .domino .TR23456 {
	top: 0.8em;
	left: 4.0em;
 }
 
  .domino .BL6 {
	top: 8.0em;
	left: 1.0em;
 }
 
  .domino .BL456 {
	top: 6.4em;
	left: 1.0em;
  }
   
  .domino .BL23456 {
	top: 9.6em;
	left: 1.0em;
 }
 
 .domino .BC135 {
	top: 8.0em;
	left: 2.5em;
 }
 
 .domino .BR6 {
	top: 8.0em;
	left: 4.0em;
 }
 
  .domino .BR456 {
	top: 9.6em;
	left: 4.0em;
 }
 
  .domino .BR23456 {
	top: 6.4em;
	left: 4.0em;
 } 
 